[Unit]
Description=Sentry Beat Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/ditto/.venv/sentry
Environment=SENTRY_CONF=/home/ditto/sentry
ExecStart=/home/ditto/.venv/sentry/bin/sentry run cron

[Install]
WantedBy=multi-user.target
