[Unit]
Description=Sentry Main Service
After=network.target
Requires=sentry-worker.service
Requires=sentry-cron.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/ditto/.venv/sentry
Environment=SENTRY_CONF=/home/ditto/sentry
ExecStart=/home/ditto/.venv/sentry/bin/sentry run web

[Install]
WantedBy=multi-user.target
